pandas==1.5.2
protobuf
matplotlib==3.5
numpy==1.24.4
pyparsing
fonttools
pillow
python_dateutil
cycler
contourpy
packaging
kiwisolver
six
pytz
debugpy
sklearn
importlib_resources
zipp
jinja2
markupsafe
tzdata
tikzplotlib
webcolors
setuptools_scm
typing_extensions
setuptools
tomli
scipy